PORT=3010
NODE_ENV=development
CONTROL_PANEL_PASSWORD=
DATA_DIR=./data

RECALL_REGION=eu-central-1
RECALL_API_KEY=
RECALL_WORKSPACE_VERIFICATION_SECRET=
RECALL_SVIX_WEBHOOK_SECRET=
PUBLIC_API_BASE_URL=
RECALL_WAITING_ROOM_TIMEOUT_SECONDS=1200
RECALL_NOONE_JOINED_TIMEOUT_SECONDS=1200
RECALL_EVERYONE_LEFT_TIMEOUT_SECONDS=60
RECALL_EVERYONE_LEFT_ACTIVATE_AFTER_SECONDS=0
RECALL_ON_JOIN_MESSAGE=

GDRIVE_CLIENT_ID=
GDRIVE_CLIENT_SECRET=
GDRIVE_REFRESH_TOKEN=
GDRIVE_OAUTH_REDIRECT_URI=https://developers.google.com/oauthplayground
GDRIVE_FOLDER_RAPAT=
GDRIVE_FOLDER_RAPAT_TMP=
GDRIVE_FOLDER_SEMINAR=
GDRIVE_FOLDER_SEMINAR_TMP=
